* {
  margin: 0;
}

.lets {
  width: 100%;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
  background: rgb(255, 255, 255);
  margin-top:0;
  position: fixed;
}


.scroll-up header {
  background:rgb(255, 255, 255);
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  position:fixed;
  transform: translate3d(0, 0, 0);
}


.scroll-up header img{
  width:80px;
}
.scroll-up header .menu .hamburger{
  outline-color:#000;
}
.scroll-up header .menu .hamburger span{
  background:#000;
}
.scroll-up header .menu .hamburger span::before{
  background:#000;
}
.scroll-up header .menu .hamburger span::after{
  background:#000;
}

@media(min-width:992px){
  .scroll-up header {
    padding-top:0;
}
  .scroll-up header .menu ul li a{
    color:#000;
}
  .scroll-up header .menu ul li a:hover{
    color:#01996D;
}

}

.menu-is-open {
  overflow: hidden;


}

.menu-is-open header {
  filter: none;
}